# 忽略不必要的文件
inputfolder/
client/
*.jpg
*.jpeg
*.png
.git
.gitignore
readme.md
locustfile.py
pose-detection.py
main.py
test.jpg
bus.jpg
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store